@import "../../common/scss/fn.scss";

.item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 1.28rem;
  font-size: $font-size-medium;
}
.rank {
  flex: 0 0 0.5rem;
  width: 0.5rem;
  margin-right: 0.6rem;
  text-align: center;
}
.rankHide {
  display: none;
}
.icon {
  display: inline-block;
  width: 0.5rem;
  height: 0.48rem;
  background-size: 0.5rem 0.48rem;
}
.icon0 {
  @include bg-image("./first");
}
.icon1 {
  @include bg-image("./second");
}
.icon2 {
  @include bg-image("./third");
}
.text {
  color: $color-theme;
  font-size: $font-size-large;
}
.content {
  flex: 1;
  line-height: 0.4rem;
  overflow: hidden;
}
.name {
  @include ellipsis;
  color: $color-text;
}
.desc {
  @include ellipsis;
  margin-top: 0.08rem;
  color: $color-text-d;
}
