@import "../../common/scss/fn.scss";
.listWrapper {
  font-size: 0;
}
.listTitle {
  height: 1.3rem;
  line-height: 1.3rem;
  text-align: center;
  font-size: $font-size-medium;
  color: $color-theme;
}

.item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0 0.4rem 0.4rem 0.4rem;
}

.icon {
  flex: 0 0 1.2rem;
  width: 1.2rem;
  padding-right: 0.4rem;
}
.coverImg {
  width: 1.2rem;
  height: 1.2rem;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  line-height: 0.4rem;
  overflow: hidden;
  font-size: $font-size-medium;
}

.name {
  margin-bottom: 0.2rem;
  color: $color-text;
}

.desc {
  color: $color-text-d;
}
.enter {
  opacity: 0.01;
}

.enter.enterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.leave {
  opacity: 1;
}

.leave.leaveActive {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.appear {
  opacity: 0.01;
}

.appear.appearActive {
  opacity: 1;
  transition: opacity .5s ease-in;
}