/*
 * @Author: Kevin.wangxiang 
 * @Date: 2017-12-13 16:31:35 
 * @Last Modified by: Kevin.wangxiang
 * @Last Modified time: 2017-12-14 10:24:35
 */
@import "../../common/scss/fn.scss";
.normalPlayer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 150;
  background: $color-background;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  filter: blur(0.4rem);
}
.top {
  position: relative;
  margin-bottom: 0.5rem;
}
.subtitle {
  line-height: 0.4rem;
  text-align: center;
  font-size: $font-size-medium;
  color: $color-text;
}
.title {
  width: 70%;
  margin: 0 auto;
  line-height: 0.8rem;
  text-align: center;
  @include ellipsis;
  font-size: $font-size-large;
  color: $color-text;
}
.back {
  position: absolute;
  top: 0;
  left: 0.12rem;
  z-index: 50;
}
.icon-back {
  display: block;
  padding: 0.18rem;
  font-size: $font-size-large-x;
  color: $color-theme;
  transform: rotate(-90deg);
}
.middle-l {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 80%;
}
.playing-lyric-wrapper {
  width: 80%;
  margin: 0.6rem auto 0 auto;
  overflow: hidden;
  text-align: center;
}
.playing-lyric {
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: $font-size-medium;
  color: $color-text-l;
}
.cd-wrapper {
  position: absolute;
  left: 10%;
  top: 0;
  width: 80%;
  height: 100%;
}
.cd {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0.2rem solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.cdPlay {
  animation: rotate 20s linear infinite;
}
.cdPause {
  animation-play-state: paused;
}
.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.middle {
  position: fixed;
  width: 100%;
  top: 1.6rem;
  bottom: 3.4rem;
  white-space: nowrap;
  font-size: 0;
}
.middle-r {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.lyric-wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
.text {
  line-height: 0.64rem;
  color: $color-text-l;
  font-size: $font-size-medium;
}
.textCurrent {
  color: $color-text;
}
.dot-wrapper {
  text-align: center;
  font-size: 0;
}
.dot {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.08rem;
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 50%;
  background: $color-text-l;
}
.dotCctive {
  width: 0.4rem;
  border-radius: 0.1rem;
  background: $color-text-ll;
}
.time {
  color: $color-text;
  font-size: $font-size-small;
  flex: 0 0 0.6rem;
  line-height: 0.6rem;
  width: 0.6rem;
}
.time-l {
  text-align: left;
}
.time-r {
  text-align: right;
}
.progress-wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0rem auto;
  padding: 0.2rem 0;
}
.progress-bar-wrapper {
  flex: 1;
}
.bottom {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}
.icon {
  flex: 1;
  color: $color-theme;
  .iconContent {
    font-size: 0.6rem;
  }
}
.iconDisable {
  color: $color-theme-d;
}

.iLeft {
  @extend .icon;
  text-align: right;
}
.iCenter {
  @extend .icon;
  padding: 0 0.4rem;
  text-align: center;
  .iconContent {
    font-size: 0.8rem;
  }
}
.iRight {
  @extend .icon;
  text-align: left;
}
.icon-favorite {
  color: $color-sub-theme;
}
.operators {
  display: flex;
  align-items: center;
}
.normal-enter-active,
.normal-leave-active {
  transition: all 0.4s;
  .top,
  .bottom {
    transition: all 0.4s cubic-bezier(0.86, 0.18, 0.82, 1.32);
  }
}
.normal-enter,
.normal-leave-to {
  opacity: 0;
  .top {
    transform: translate3d(0, -2rem, 0);
  }
  .bottom {
    transform: translate3d(0, 2rem, 0);
  }
}
.mini-enter-active,
.mini-leave-active {
  transition: all 0.4s;
}

.mini-enter,
.mini-leave-to {
  opacity: 0;
}
.mini-player {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 180;
  width: 100%;
  height: 1.2rem;
  background: $color-highlight-background;
}
.mini-player-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  line-height: 0.4rem;
  overflow: hidden;
}
.mini-player-name {
  margin-bottom: 0.04rem;
  @include ellipsis;
  font-size: $font-size-medium;
  color: $color-text;
}
.mini-player-control {
  flex: 0 0 0.6rem;
  width: 0.6rem;
  padding: 0 0.2rem;
}
.icon-play-mini,
.icon-pause-mini,
.icon-playlist {
  font-size: 0.6rem;
  color: $color-theme-d;
}

.icon-mini {
  font-size: 0.64rem;
  position: absolute;
  left: 0;
  top: 0;
}
.mini-player-desc {
  @include ellipsis;
  font-size: $font-size-small;
  color: $color-text-d;
}
.mini-player-icon {
  flex: 0 0 0.8rem;
  width: 0.8rem;
  padding: 0 0.2rem 0 0.4rem;
}
.mini-player-icon-img {
  border-radius: 50%;
}
.mini-player-icon-play {
  animation: rotate 10s linear infinite;
}

.mini-player-icon-pause {
  animation-play-state: paused;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
